<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% @posts.each do |post| %>
  <% if post.description? %>
    <div style="border: 1px solid #000; padding: 10px; margin-bottom: 10px">
      <h1> <%= link_to post.title, post %> </h1> <hr/>
      <p> <%= post.description %> </p>
    </div>
  <% end %>
<% end %>

<%= link_to "Posts", posts_path %>
